### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
energy = pd.read_excel(r'G:\ITI Intake43 DM Track\Python\Task01\data\Energy Indicators.xls' )
energy=energy[17:244]
energy=energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
energy.rename(columns = {'Unnamed: 2' : 'Country', 'Unnamed: 3': 'Energy Supplys', 'Unnamed: 4': 'Energy Supply per Capita' , 'Unnamed: 5': '% Renewable'},
                 inplace = True)

In [3]:
display(energy)

,Country,Energy Supplys,Energy Supply per Capita,% Renewable
17,Afghanistan,321,10,78.66928
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
21,Andorra,9,121,88.69565
...,...,...,...,...
239,Viet Nam,2554,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.71467
243,Zimbabwe,480,32,52.53612

In [4]:
energy = energy.replace(to_replace= "..." , value= np.NaN )

In [5]:
energy['Energy Supplys'] = energy['Energy Supplys'] * 1000000
display(energy)

,Country,Energy Supplys,Energy Supply per Capita,% Renewable
17,Afghanistan,3.210000e+08,10.0,78.669280
18,Albania,1.020000e+08,35.0,100.000000
19,Algeria,1.959000e+09,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
239,Viet Nam,2.554000e+09,28.0,45.321520
240,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
241,Yemen,3.440000e+08,13.0,0.000000
242,Zambia,4.000000e+08,26.0,99.714670
243,Zimbabwe,4.800000e+08,32.0,52.536120

In [6]:
print(energy.columns.tolist())

['Country', 'Energy Supplys', 'Energy Supply per Capita', '% Renewable']

In [7]:
country_map = {"Republic of Korea": "South Korea", "United States of America20": "United States", 
               "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", 
               "China, Hong Kong Special Administrative Region3": "Hong Kong" ,
           "Bolivia (Plurinational State of)":"Bolivia" ," China, Macao Special Administrative Region4" : "Macao",
          "Bonaire, Sint Eustatius and Saba" : "Bonaire" }
for old_name in country_map.keys():
    new_name = country_map[old_name]
    energy['Country'] = energy['Country'].replace(to_replace=old_name, value=new_name)

In [8]:
x=energy.loc[energy['Country'].isin( ['South Korea', 'Hong Kong', 'Bonaire', 'Bolivia' , 'United States', 'United Kingdom'])]
display(x)

            Country  Energy Supplys  Energy Supply per Capita  % Renewable
41          Bolivia    3.360000e+08                      32.0    31.477120
42          Bonaire    5.000000e+06                     213.0     0.000000
60        Hong Kong    5.850000e+08                      82.0     0.000000
181     South Korea    1.100700e+10                     221.0     2.279353
231  United Kingdom    7.920000e+09                     124.0    10.600470
233   United States    9.083800e+10                     286.0    11.570980

In [9]:
energy.Country.str.isalpha()

17      True
18      True
19      True
20     False
21      True
       ...
239    False
240    False
241     True
242     True
243     True
Name: Country, Length: 227, dtype: bool

In [10]:
string=energy.Country

for a in string:
    if (a.isalpha()) == False :
        print(a)

American Samoa
Antigua and Barbuda
Australia1
Bosnia and Herzegovina
British Virgin Islands
Brunei Darussalam
Burkina Faso
Cabo Verde
Cayman Islands
Central African Republic
China2
Hong Kong
China, Macao Special Administrative Region4
Cook Islands
Costa Rica
Côte d'Ivoire
Czech Republic
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark5
Dominican Republic
El Salvador
Equatorial Guinea
Faeroe Islands
Falkland Islands (Malvinas)
France6
French Guiana
French Polynesia
Greenland7
Guinea-Bissau
Indonesia8
Iran (Islamic Republic of)
Isle of Man
Italy9
Japan10
Kuwait11
Lao People's Democratic Republic
Marshall Islands
Micronesia (Federated States of)
Netherlands12
New Caledonia
New Zealand
Northern Mariana Islands
Papua New Guinea
Portugal13
Puerto Rico
South Korea
Republic of Moldova
Russian Federation
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Sao Tome and Principe
Saudi Arabia14
Serbia15
Sierra Leone
Sint Maarten (Dutch part)
Solomon Islands
South Africa
South Sudan
Spain16
Sri Lanka
State of Palestine
Switzerland17
Syrian Arab Republic
The former Yugoslav Republic of Macedonia
Timor-Leste
Trinidad and Tobago
Turks and Caicos Islands
Ukraine18
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States
United States Virgin Islands
Venezuela (Bolivarian Republic of)
Viet Nam
Wallis and Futuna Islands

In [11]:
display(energy)

,Country,Energy Supplys,Energy Supply per Capita,% Renewable
17,Afghanistan,3.210000e+08,10.0,78.669280
18,Albania,1.020000e+08,35.0,100.000000
19,Algeria,1.959000e+09,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
239,Viet Nam,2.554000e+09,28.0,45.321520
240,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
241,Yemen,3.440000e+08,13.0,0.000000
242,Zambia,4.000000e+08,26.0,99.714670
243,Zimbabwe,4.800000e+08,32.0,52.536120

In [12]:
#energy['Country'] = energy['Country'].replace(to_replace='China, Macao Special Administrative Region4', value='Macao')

#print(energy)
Macao= energy[energy['Country'] == 'Macao' ]
display(Macao)

Empty DataFrame
Columns: [Country, Energy Supplys, Energy Supply per Capita, % Renewable]
Index: []

In [13]:
def alphabets(element):
    
    return "".join(filter(str.isalpha, element))

energy.loc[:,'alphabets'] = [alphabets(x) for x in energy.Country]
energy.Country

17                   Afghanistan
18                       Albania
19                       Algeria
20                American Samoa
21                       Andorra
                 ...
239                     Viet Nam
240    Wallis and Futuna Islands
241                        Yemen
242                       Zambia
243                     Zimbabwe
Name: Country, Length: 227, dtype: object

In [14]:
energy['Country'] = energy['Country'].str.replace('\d+', '')
energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")
energy = energy.replace(r"^ +| +$", r"", regex=True)
Iran_c= energy[energy['Country'] == 'Iran' ]
display(Iran_c)

C:\Users\Enter Computer\AppData\Local\Temp\ipykernel_8520\3126157514.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace('\d+', '')
C:\Users\Enter Computer\AppData\Local\Temp\ipykernel_8520\3126157514.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")

,Country,Energy Supplys,Energy Supply per Capita,% Renewable,alphabets
115,Iran,9.172000e+09,119.0,5.707721,IranIslamicRepublicof

In [15]:
string=energy.Country

for a in string:
    if (a.isalpha()) == False :
        print(a)

American Samoa
Antigua and Barbuda
Bosnia and Herzegovina
British Virgin Islands
Brunei Darussalam
Burkina Faso
Cabo Verde
Cayman Islands
Central African Republic
Hong Kong
China, Macao Special Administrative Region
Cook Islands
Costa Rica
Côte d'Ivoire
Czech Republic
Democratic People's Republic of Korea
Democratic Republic of the Congo
Dominican Republic
El Salvador
Equatorial Guinea
Faeroe Islands
Falkland Islands
French Guiana
French Polynesia
Guinea-Bissau
Isle of Man
Lao People's Democratic Republic
Marshall Islands
New Caledonia
New Zealand
Northern Mariana Islands
Papua New Guinea
Puerto Rico
South Korea
Republic of Moldova
Russian Federation
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Sao Tome and Principe
Saudi Arabia
Sierra Leone
Sint Maarten
Solomon Islands
South Africa
South Sudan
Sri Lanka
State of Palestine
Syrian Arab Republic
The former Yugoslav Republic of Macedonia
Timor-Leste
Trinidad and Tobago
Turks and Caicos Islands
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States
United States Virgin Islands
Viet Nam
Wallis and Futuna Islands

In [16]:
#display (energy)
display( energy[energy['Country'] == 'Iran' ] )

,Country,Energy Supplys,Energy Supply per Capita,% Renewable,alphabets
115,Iran,9.172000e+09,119.0,5.707721,IranIslamicRepublicof

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [17]:
GDP = pd.read_csv('G:\ITI Intake43 DM Track\Python\Task01\data\world_bank.csv', skiprows=4 )
display(GDP)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [18]:
GDP.rename(columns = {'Country Name' : 'Country'},
                 inplace = True)

In [19]:
GDP['Country'] = GDP['Country'].replace(to_replace='Korea, Rep.', value='South Korea')
g_korea= GDP[ GDP['Country'] == 'South Korea' ]
display(g_korea)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
123,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12

In [20]:
GDP['Country'] = GDP['Country'].replace(to_replace='Iran, Islamic Rep.', value='Iran')
g_Iran= GDP[ GDP['Country'] == 'Iran' ]
display(g_Iran)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
109,Iran,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,6.552689e+10,7.014134e+10,7.608598e+10,8.904776e+10,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN

In [21]:
GDP['Country'] = GDP['Country'].replace(to_replace='Hong Kong SAR, China', value='Hong Kong')
g_china= GDP[ GDP['Country'] == 'Hong Kong' ]
display(g_china)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
93,Hong Kong,HKG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,1.764691e+10,...,2.019164e+11,2.149698e+11,2.195440e+11,2.141452e+11,2.286377e+11,2.396459e+11,2.437206e+11,2.512081e+11,2.577757e+11,2.638606e+11

In [22]:
display (GDP)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [23]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\enter computer\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in c:\users\enter computer\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [24]:
ScimEn = pd.read_excel('G:\ITI Intake43 DM Track\Python\Task01\data\scimagojr-3.xlsx' )

In [25]:
display ( ScimEn )

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [26]:
joined_1 = pd.merge( energy , GDP , how = 'inner' ,   on='Country')
#display(joined_1)

display (energy[ energy['Country'] == 'Taiwan' ])

Empty DataFrame
Columns: [Country, Energy Supplys, Energy Supply per Capita, % Renewable, alphabets]
Index: []

In [27]:
joined_2 = pd.merge(joined_1, ScimEn , how = 'inner' ,   on='Country')
display(joined_2)

#df2 = joined_2.sort_values('Rank', ascending=True)
#display(df2['Rank'].head(25))
#display(ScimEn['Rank'].head(25))

,Country,Energy Supplys,Energy Supply per Capita,% Renewable,alphabets,Country Code,Indicator Name,Indicator Code,1960,1961,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Afghanistan,3.210000e+08,10.0,78.669280,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,1.973134e+10,1.999032e+10,2.029415e+10,163,3,3,0,0,0.00,0
1,Albania,1.020000e+08,35.0,100.000000,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,1.254247e+10,1.279331e+10,1.312082e+10,118,23,23,168,14,7.30,6
2,Algeria,1.959000e+09,51.0,0.551010,Algeria,DZA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.744286e+10,2.370914e+10,...,1.763249e+11,1.830252e+11,1.901632e+11,42,1215,1197,7393,1413,6.08,40
3,American Samoa,NaN,NaN,0.641026,AmericanSamoa,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,NaN,NaN,NaN,180,1,1,0,0,0.00,0
4,Andorra,9.000000e+06,121.0,88.695650,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,3.127550e+09,NaN,NaN,168,2,2,13,0,6.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,United Kingdom,7.920000e+09,124.0,10.600470,UnitedKingdom,GBR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.267154e+11,7.454179e+11,...,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
157,United States,9.083800e+10,286.0,11.570980,UnitedStates,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,...,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
158,Uruguay,1.960000e+08,58.0,71.605040,Uruguay,URY,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.389822e+10,1.424471e+10,...,4.589732e+10,4.738384e+10,4.784927e+10,91,71,70,728,80,10.25,15
159,Uzbekistan,1.798000e+09,62.0,21.328410,Uzbekistan,UZB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,4.977761e+10,5.380959e+10,5.811436e+10,96,57,56,158,45,2.77,7
160,Zimbabwe,4.800000e+08,32.0,52.536120,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,...,1.218064e+10,1.264939e+10,1.278517e+10,119,22,21,27,1,1.23,3

In [28]:
top_15 = joined_2[joined_2['Rank'] <=15 ]
display(top_15)

,Country,Energy Supplys,Energy Supply per Capita,% Renewable,alphabets,Country Code,Indicator Name,Indicator Code,1960,1961,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
9,Australia,5.386000e+09,231.0,11.810810,Australia,AUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.983395e+11,2.032502e+11,...,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
24,Brazil,1.214900e+10,59.0,69.648030,Brazil,BRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.466572e+11,2.720034e+11,...,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86
31,Canada,1.043100e+10,296.0,61.945430,Canada,CAN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.163370e+11,3.263436e+11,...,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
35,China,1.271910e+11,93.0,19.754910,China,CHN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.262508e+11,9.178435e+10,...,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
54,France,1.059700e+10,166.0,17.020280,France,FRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,6.082125e+11,6.417023e+11,...,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
57,Germany,1.326100e+10,165.0,17.901530,Germany,DEU,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
68,India,3.319500e+10,26.0,14.969080,India,IND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.425749e+11,1.478826e+11,...,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
70,Iran,9.172000e+09,119.0,5.707721,IranIslamicRepublicof,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,...,4.445926e+11,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72
74,Italy,6.530000e+09,109.0,33.667230,Italy,ITA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.455879e+11,5.903657e+11,...,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
76,Japan,1.898400e+10,149.0,10.232820,Japan,JPN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.741600e+11,8.673962e+11,...,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
125,South Korea,1.100700e+10,221.0,2.279353,SouthKorea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,...,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
127,Russian Federation,3.070900e+10,214.0,17.288680,RussianFederation,RUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,...,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
138,Spain,4.923000e+09,106.0,37.968590,Spain,ESP,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.241608e+11,2.506985e+11,...,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115
156,United Kingdom,7.920000e+09,124.0,10.600470,UnitedKingdom,GBR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.267154e+11,7.454179e+11,...,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
157,United States,9.083800e+10,286.0,11.570980,UnitedStates,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,...,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230

In [29]:
top_15=top_15.drop(top_15.loc[:, '1960': '2005'] , axis=1 )
top_15 =top_15.drop(['alphabets', 'Country Code', 'Indicator Name' , 'Indicator Code' ], axis=1)
top_15 = top_15.reindex(columns=  [ 'Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
           'Citations per document', 'H index', 'Energy Supplys',
           'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
           '2009', '2010', '2011', '2012', '2013', '2014', '2015'] )

display(top_15)

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supplys,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
9,Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
24,Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
31,Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
35,China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
54,France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
57,Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
68,India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
70,Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
74,Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
76,Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
125,South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
127,Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
138,Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
156,United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
157,United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [30]:
cols = list(top_15.columns.values)
display(cols)

['Country',
 'Rank',
 'Documents',
 'Citable documents',
 'Citations',
 'Self-citations',
 'Citations per document',
 'H index',
 'Energy Supplys',
 'Energy Supply per Capita',
 '% Renewable',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [31]:
x=161-15
display(x)

146

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [32]:
#gapminder_final = gapminder_final.T.drop_duplicates().T
avg_gdp = [top_15.iloc[:, 11:21].mean(axis=1) , top_15 ["Country"] ]
s_avgGDP=pd.DataFrame(avg_gdp)
s_avgGDP = s_avgGDP.T 

s_avgGDP.rename(columns = {'Unnamed 0' : 'avgGDP' } ,  inplace = True)
y_avgGDP=s_avgGDP.set_index('Country')
x_avgGDP= y_avgGDP.sort_values(by='avgGDP', ascending=False)
display(x_avgGDP)

                                  avgGDP
Country
United States           15364344302990.0
China               6348608932836.099609
Japan               5542207638235.175781
Germany             3493025339072.847656
France              2681724635761.588867
United Kingdom       2487906661418.41748
Brazil              2189794143774.905029
Italy               2120175089933.776123
India               1769297396603.860107
Canada              1660647466307.511963
Russian Federation  1565459478480.660889
Spain               1418078278145.694092
Australia           1164042729991.427002
South Korea         1106714508244.852051
Iran                 444155754051.094971

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [33]:
Energy_Mean = top_15["Energy Supply per Capita"].mean()
display(Energy_Mean)

157.6

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [34]:
top_15=top_15.set_index('Country')
Max_renew_Country = top_15.loc[top_15["% Renewable"] == top_15["% Renewable"].max()] 
Max_Country=Max_renew_Country[ ["% Renewable"] ]

tuple_max_country = Max_Country.to_records().tolist()
print(tuple_max_country)

[('Brazil', 69.64803)]

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [35]:
top_15["Self_Per_Total_Citation"]= top_15["Self-citations"] / top_15["Citations"]
#display(top_15)
Max_Citation_Ratio = top_15.loc[top_15["Self_Per_Total_Citation"] == top_15["Self_Per_Total_Citation"].max()] 
Max_Citation_Country=Max_Citation_Ratio.iloc[:, [20] ]
#display(Max_Citation_Country)
tuple_citation_country = Max_Citation_Country.to_records().tolist()
print(tuple_citation_country )

[('China', 0.6893126179389422)]

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [36]:
Renewable_Mean = top_15["% Renewable"].mean()
display(Renewable_Mean)

22.82439426666667

In [37]:
top_15["Renwable_Flag"] = [1 if x >= Renewable_Mean else 0 for x in top_15["% Renewable"]]
HighRenew= top_15.sort_values(by= "Rank" , ascending=True)
display(HighRenew)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supplys,Energy Supply per Capita,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,Self_Per_Total_Citation,Renwable_Flag
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,0
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,0
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,...,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,...,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,0
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,...,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,...,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,0
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,...,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,...,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,...,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,...,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,...,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,...,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [38]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

list = [(k, v) for k, v in ContinentDict.items()]

In [39]:
#display(list)
Continentdf = pd.DataFrame(list)

Continentdf.rename(columns = {1 : 'Continent', 0: 'Country'},
                 inplace = True)

#Continentdf= Continentdf.groupby(["Continent"]).count()
# joined_2 = pd.merge(joined_1, ScimEn , how = 'inner' ,   on='Country')

top_pop=  pd.merge(top_15 , Continentdf , how ='inner' , on = 'Country' )
top_pop["Popoulation"]= top_pop["Energy Supplys"] / top_pop["Energy Supply per Capita"]



display(top_pop)

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supplys,Energy Supply per Capita,...,2010,2011,2012,2013,2014,2015,Self_Per_Total_Citation,Renwable_Flag,Continent,Popoulation
0,Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0,Australia,2.331602e+07
1,Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1,South America,2.059153e+08
2,Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,...,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1,North America,3.523986e+07
3,China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,0,Asia,1.367645e+09
4,France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,...,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,0,Europe,6.383735e+07
5,Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,...,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,0,Europe,8.036970e+07
6,India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,...,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0,Asia,1.276731e+09
7,Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,...,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0,Asia,7.707563e+07
8,Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,...,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1,Europe,5.990826e+07
9,Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0,Asia,1.274094e+08
10,South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,...,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0,Asia,4.980543e+07
11,Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,0,Europe,1.435000e+08
12,Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,...,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1,Europe,4.644340e+07
13,United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0,Europe,6.387097e+07
14,United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0,North America,3.176154e+08

In [40]:
#top_pop= top_pop.groupby(["Continent"]).count()
#sales_df.groupby("Product_Category")['UnitPrice(USD)'].mean().reset_index()

agg_df1=top_pop.groupby("Continent")["Popoulation"].agg([np.sum, np.mean, np.std]).reset_index()

agg_df2=top_pop.groupby("Continent")["Country"].count()

agg_df3= pd.merge(agg_df2 , agg_df1 , how = 'inner' , on= 'Continent' )
agg_df3.rename(columns = {'Country' : 'Size'},
                 inplace = True)
agg_df3= agg_df3.set_index('Continent')
display(agg_df3)

               Size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN